* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: top -62vh left -23vw, bottom -70vh right -15vw;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}

/* * Typography */

h1,
h2 {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.username {
    font-size: 1.35rem;
}

p {
    font-size: 0.95rem;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.text-small {
    color: hsl(0, 0%, 59%);
    font-size: 1.4rem;
    margin-left: 5px;
    font-weight: 400;
}

/* * Layout */

.card {
    width: 80%;
    max-width: 450px;
    margin: 10% auto;
    background-image: url(./images/bg-pattern-card.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 6.95rem;
    line-height: 1.5;
}

.social-info {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    align-content: center;
}

.card-img {
    display: block;
    margin: -5% auto 10px;
    border: 7px solid #fff;
    border-radius: 50%;
    padding: 0;
}

hr {
    margin-top: 2rem;
    color: hsl(0, 0%, 59%);
}
/* 
@media and (max-width: 1350px){
    body {
        background-size: 60%;
    }

}

@media and (max-width: 1180px){
    body {
        background-size: 20%;
    }

} */